.toolbar {
  flex-basis: 196px;
  background-color: #f1f1f1;
  padding: 1.2em;
  //display: inline-flex;
  //flex-direction: column;
  //overflow: auto;
  flex-shrink: 0;
  border-radius: 30px 0px 0px 30px;
}

.toolbar > div:first-of-type {
  flex-grow: 1;
}

.preview {
  width: 160px;
  height: 160px;
  border: 2px solid black;
  position: relative;
}

.preview__brush {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 100%;
}

@keyframes colorShift {
  0% {
    color: hsl(0, 100%, 40%);
  }
  10% {
    color: hsl(36, 100%, 40%);
  }
  20% {
    color: hsl(72, 100%, 30%);
  }
  30% {
    color: hsl(108, 100%, 30%);
  }
  40% {
    color: hsl(144, 100%, 30%);
  }
  50% {
    color: hsl(180, 100%, 20%);
  }
  60% {
    color: hsl(211, 100%, 40%);
  }
  70% {
    color: hsl(247, 100%, 40%);
  }
  80% {
    color: hsl(277, 100%, 50%);
  }
  90% {
    color: hsl(301, 100%, 40%);
  }
  100% {
    color: hsl(320, 100%, 30%);
  }
  100% {
    color: hsl(350, 100%, 40%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.tool-section {
  padding-bottom: 0.5rem;
}

.tool-section--lrg {
  padding-bottom: 1rem;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-decoration: none;
  padding: 0.5em;
  color: var(--color-text);
  background-color: #bbb;
  height: 45px;
}

.btn--main {
  background-color: hsl(211, 100%, 75%);
  margin-bottom: 0.75rem;
}

.btn--block {
  display: flex;
  width: 100%;
}

.btn--tool {
  background-color: #c1c1c1;
  width: 100%;
  height: 100%;
  padding: 0.25em 0.3em;
}
.btn--color {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 28px;
  padding: 0;
  cursor: pointer;
}
*[disabled],
*[disabled] + label {
  opacity: 0.6;
  cursor: not-allowed;
}
